<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.stockapp">

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.market.activity.StockDetailActivity" />
        <activity android:name=".ui.market.activity.StockDetailLandActivity"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"></activity>

        <activity android:name=".ui.mpchartexample.notimportant.MPMainActivity"
            android:theme="@style/MPAppTheme"/>
        <activity android:name=".ui.mpchartexample.LineChartActivity1"
            android:theme="@style/MPAppTheme"/>
        <activity android:name=".ui.mpchartexample.LineChartActivity2"
            android:theme="@style/MPAppTheme"/>
        <activity android:name=".ui.mpchartexample.LineChartTime"
            android:theme="@style/MPAppTheme"/>
        <activity android:name=".ui.mpchartexample.BarChartActivity"
            android:theme="@style/MPAppTheme"/>
        <activity android:name=".ui.mpchartexample.HorizontalBarChartActivity"
            android:theme="@style/MPAppTheme"/>
        <activity android:name=".ui.mpchartexample.PieChartActivity"
            android:theme="@style/MPAppTheme"/>
        <activity android:name=".ui.mpchartexample.PiePolylineChartActivity"
            android:theme="@style/MPAppTheme"/>
        <activity android:name=".ui.mpchartexample.MultiLineChartActivity"
            android:theme="@style/MPAppTheme"/>
        <activity android:name=".ui.mpchartexample.BarChartActivityMultiDataset"
            android:theme="@style/MPAppTheme"/>
        <activity android:name=".ui.mpchartexample.DrawChartActivity"
            android:theme="@style/MPAppTheme"/>
        <activity android:name=".ui.mpchartexample.ScatterChartActivity"
            android:theme="@style/MPAppTheme"/>
        <activity android:name=".ui.mpchartexample.BubbleChartActivity"
            android:theme="@style/MPAppTheme"/>
        <activity android:name=".ui.mpchartexample.fragments.SimpleChartDemo"
            android:theme="@style/MPAppTheme"/>
        <activity android:name=".ui.mpchartexample.ListViewBarChartActivity"
            android:theme="@style/MPAppTheme"/>
        <activity android:name=".ui.mpchartexample.ListViewMultiChartActivity"
            android:theme="@style/MPAppTheme"/>
        <activity android:name=".ui.mpchartexample.StackedBarActivity"
            android:theme="@style/MPAppTheme"/>
        <activity android:name=".ui.mpchartexample.AnotherBarActivity"
            android:theme="@style/MPAppTheme"/>
        <activity android:name=".ui.mpchartexample.InvertedLineChartActivity"
            android:theme="@style/MPAppTheme"/>
        <activity android:name=".ui.mpchartexample.CandleStickChartActivity"
            android:theme="@style/MPAppTheme"/>
        <activity android:name=".ui.mpchartexample.CubicLineChartActivity"
            android:theme="@style/MPAppTheme"/>
        <activity android:name=".ui.mpchartexample.RadarChartActivity"
            android:theme="@style/MPAppTheme"/>
        <activity android:name=".ui.mpchartexample.LineChartActivityColored"
            android:theme="@style/MPAppTheme"/>
        <activity android:name=".ui.mpchartexample.DynamicalAddingActivity"
            android:theme="@style/MPAppTheme"/>
        <activity android:name=".ui.mpchartexample.RealtimeLineChartActivity"
            android:theme="@style/MPAppTheme"/>
        <activity android:name=".ui.mpchartexample.CombinedChartActivity"
            android:theme="@style/MPAppTheme"/>
        <activity android:name=".ui.mpchartexample.PerformanceLineChart"
            android:theme="@style/MPAppTheme"/>
        <activity android:name=".ui.mpchartexample.BarChartActivitySinus"
            android:theme="@style/MPAppTheme"/>
        <activity android:name=".ui.mpchartexample.ScrollViewActivity"
            android:theme="@style/MPAppTheme"/>
        <activity android:name=".ui.mpchartexample.StackedBarActivityNegative"
            android:theme="@style/MPAppTheme"/>
        <activity android:name=".ui.mpchartexample.BarChartPositiveNegative"
            android:theme="@style/MPAppTheme"/>
        <activity android:name=".ui.mpchartexample.FilledLineActivity"
            android:theme="@style/MPAppTheme"/>
        <activity android:name=".ui.mpchartexample.HalfPieChartActivity"
            android:theme="@style/MPAppTheme"/>
    </application>

</manifest>